@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	list-style-type: none;
	
}
.container{
	width: 1260px;
	margin: 0 auto;
	
}
header{
	height: 150px;
	background: url(images/8cd243b5435128149b57d4d5011df99e.jpg);
	position: relative;
}

#logo{
	width: 200px;
	height: 40px;
	position: absolute;
	left: 76px;
	top: 40px;
	
}
#search{
	height: 28px;
	position: absolute;
	bottom: 10px;
	right: 0;
	
}
#search input[type="search"]{
	width: 260px;
	height: 28px;
	font-size: 20px;
	line-height: 28px;
	text-indent: 10px;
	display: block;
	float: left;
}
#nav{
	background: url(images/footer.png);
	width: 100%;
	height: 60px;
}
#search input[type="submit"]{
	width: 58px;
	height: 28px;
	font-size: 20px;
	line-height: 28px;
	color: #733f26;
	background-color: #d9d9d9;
	display: block;
	float: left;
}
#nav nav ul{
	float: left;
	padding: 0;
	width: 800px;
}
#nav nav ul li{
	float: left;
	width: 160px;
	height: 60px;
	position: relative;
}
#nav nav ul li a,#footer-wrapper ul li a{
	display: block;
	width: 160px;
	height: 60px;
	font-family: "黑体";
	font-size: 24px;
	line-height: 60px;
	color: white;
	text-align: center;
	background-color: rgba(0,0,0,0);
	transition: 0.8s;
}
#nav nav ul li a:hover{
	background-color: rgba(0,0,0,0.2);
}
#nav nav ul li a.nava1{
	background-color: rgba(0,0,0,0.2);
}
#nav nav ul li ul{
	display: none;
	width: 160px;
	z-index: 100;
	left: 0;
	top: 60px;
	background: url(images/back3.jpg);
	position: absolute;
	
}
#nav nav ul li.navli1:hover ul{
	display: block;
}
#nav nav #cart{
	
	width: 121px;
	height: 40px;
	margin-top: 10px;
	float: right;
	background-color: #F3F3F3;
}
#nav nav #cart a{
	position: absolute;
	justify-content: center;
	min-width: 100px;
	display: none;
	display: block;
	width: 80px;
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	text-align: right;
	padding-right: 20px;
	color: #733f26;
	
}

#nav nav #cart a:hover{
	color: orange;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
	/*设置栏目图标样式*/
[class*="icon-"]{
	font-family: FontAwesome;font-size: 1.5rem;			   
}
	/*购物车标题图标*/
.icon-cart:before {
	content: "\f07a";
	font-size:20px;
	color:#733F26;
	display: block;
	margin:10px 8px 10px 20px ;
	float: left;
}
#cart a{
	display: block;
	float: left;
	width: 71px;
	height: 40px;
	font-size: 20px;
	color: #733F26;
	text-align: left;
	line-height: 40px;
}
#nav a:hover{
	color: orange;
}

#content-wrapper
{
	padding: 10px 8px 26px 8px;
	box-sizing: border-box;
}
#content-wrapper main{
	width: 820px;
	float: left;
}
#content-wrapper aside{
	width: 410px;
	float: right;
}
#footer-wrapper{
	clear: both;
}

#footer-wrapper ul{
	padding: 0;
	display: flex;
	justify-content: center;
}
#footer-wrapper li{
	width: 160px;
	height: 60px;
}
#footer-wrapper{
	background: url(images/navbg.jpg);
	width: 100%;
	height: 60px;
}
#footer-wrapper li>a:hover{
	background-color: rgba(0,0,0,0.2);
}
#footer-wrapper li.li1>a{
	background-color: rgba(0,0,0,0.2);
}
#footer-wrapper ul li a{
	display: block;
	width: 160px;
	height: 60px;
	font-family: "黑体";
	font-size: 24px;
	line-height: 60px;
	color: white;
	text-align: center;
	background-color: rgba(0,0,0,0);
	transition: 0.8s;
}
#copyright{
	display: flex;
	padding: 24px 0;
	flex-flow: column nowrap;
	align-items: center;
	font-size: 20px;
}
#copyright a{
	color: black;
}
#copyright a:hover{
	color: #c09d8a;
}
/* 宣传轮播 */
#adv{
	width: 820px;
	height: 400px;
	background: no-repeat url(images/banner2.jpg) 0 0;
	background-size: 820px 369px;
	animation: lunbo 10s linear infinite;
	position: relative;
}
#adv ul{
	padding-left: 665px;
	padding-top: 333px;
	height: 30px;
	width: 140px;
}
#adv ul li{
	float: left;
	margin: 0 5px 6px 0;
}
#adv ul li span{
	display: block;
	width: 30px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: white;
	border-radius: 30px;
	background-color: #733f26;
	position: relative;
	z-index: 100;
}
#adv ul li:hover span {
	
	background-color: #a67359;
}
#adv ul li:hover div{
	width: 820px;
	height: 369px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 820px 369px;
	position: absolute;
	left: 0;
	top: 0;
}
#adv ul li.lunbo1:hover div{
	background-image: url(images/下载.jpg);
}
#adv ul li.lunbo2:hover div{
	background-image: url(images/u=3417293122,1515381306&fm=15&gp=0.jpg);
}
#adv ul li.lunbo3:hover div{
	background-image: url(images/u=2305571818,2797568802&fm=26&gp=0.jpg);
}
#adv ul li.lunbo4:hover div{
	background-image: url(images/u=1367005689,3665517838&fm=26&gp=0.jpg);
}

@keyframes lunbo{
	0%{
		background: url(images/banner2.jpg) no-repeat top left;
		background-size: 820px 369px;
	}
	25%{
		background: url(images/下载.jpg) no-repeat top left;
		background-size: 820px 369px;
	}
	50%{
		background: url(images/u=3417293122,1515381306&fm=15&gp=0.jpg) no-repeat top left;
		background-size: 820px 369px;
	}
	75%{
		background: url(images/u=2305571818,2797568802&fm=26&gp=0.jpg) no-repeat top left;
		background-size: 820px 369px;
	}
	100%{
		background: url(images/u=1367005689,3665517838&fm=26&gp=0.jpg) no-repeat top left;
		background-size: 820px 369px;
	}
}